{
  "presets": ["airbnb", "env"],
  "plugins": ["transform-class-properties",
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "pages": "./src/pages",
          "ducks": "./src/ducks",
          "sagas": "./src/sagas"
        }
      }
    ]]
}
