.logo {
  height: 125px;
}
.head {
  background-color: #052347;
  background-image: url("./head.jpg");
  background-position: 90%;
  background-size: 100%;
  background-repeat: no-repeat;
  height:125px;
}
.layer {
  background-color: rgba(3,37,74,0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
}
